package.json @lokalise/content-exchange @kibertoad
package-lock.json @lokalise/content-exchange @kibertoad
/.github @lokalise/content-exchange @kibertoad
Dockerfile @lokalise/content-exchange @kibertoad

/src @lokalise/content-exchange @kibertoad
/test @lokalise/content-exchange @kibertoad
/docs @lokalise/content-exchange @kibertoad
